@use "@media" as media;
@use "@typography" as typography;

.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &CloseIcon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  &Left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--main-primary);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

    &ContainerMedium {
      position: absolute;
      border-style: dotted;
      height: 330px;
      width: 330px;
      border-radius: 400px;
      border: 2px dashed var(--border-color-grey);
    }

    &ContainerLarge {
      position: absolute;
      height: 390px;
      width: 390px;
      border-radius: 400px;
      border: 2px dashed var(--border-color-grey);
    }
  }

  &Right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: var(--main-beige);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 40px;

    &Select {
      margin-top: 15px;
      height: 234px;
      width: 100%;

      &Title {
        @include typography.title-h3;
        font-weight: 700;
        margin-bottom: 5px;
      }

      &Carousel {
        display: flex;
        gap: 30px;
        overflow-x: scroll;
        overflow-y: hidden;

        img {
          width: 100px;
        }
      }

      &Ingredient {
        display: flex;
        flex-direction: column;
        position: relative;
        background: var(--main-primary);
        border: 2px solid var(--main-primary);
        border-radius: 16px;
        height: 193px;

        &Active {
          border: 2px solid var(--button-color-orange);
          &Icon {
            position: absolute;
            right: 5px;
            top: 5px;
          }
        }

        &Meta {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 5px;
        }

        &Description {
          text-align: center;
          @include typography.title-s-button;
        }

        &Price {
          text-align: center;
          @include typography.title-m-button;
        }
      }
    }

    &Buttons {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 59px;
      background: var(--background-color-dark-grey);
      padding: 20px 15px;
      border-radius: 30px;
    }

    &Button {
      border: unset;
      min-width: 77px;
      width: 100%;
      cursor: pointer;
      padding: 5px 10px;
      height: 43px;
      border-radius: 25px;
      background: unset;
      transition: all 0.3s ease;
      @include typography.title-m-regular;

      &Active {
        background: var(--main-primary);
        transform: scale(1.1);
        color: var(--button-color-orange);
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &Meta {
      display: flex;
      flex-direction: column;
      gap: 7px;

      &Title {
        @include typography.title-h2;
        font-weight: 700;
      }
    }
  }
}

.buttonSubmit {
  background: var(--button-color-orange);
  color: var(--main-primary);
  width: 100%;
  @include typography.title-l-regular;
}

.pizzaImage {
  z-index: 5;
  width: 380px;
  transition: width 0.5s ease, height 0.5s ease;

  &Medium {
    width: 450px;
  }

  &Large {
    width: 535px;
  }
}

@include media.tablet {
  .wrapper {
    grid-template-columns: 370px 370px;

    &Left {
      &ContainerMedium {
        width: 290px;
        height: 290px;
      }

      &ContainerLarge {
        width: 320px;
        height: 320px;
      }
    }
  }

  .pizzaImage {
    width: 350px;

    &Medium {
      width: 390px;
    }
    &Large {
      width: 430px;
    }
  }
}

@include media.mobile {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 600px;

    &CloseIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 30px;
    }

    &Left {
      height: 350px;
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }

    &Right {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }
}
