@use "@media" as media;

.wrapper {
  padding: 100px 32px 40px 32px;

  &Content {
    display: flex;
    position: relative;
  }
}

@include media.mobile {
  .wrapperContent {
    margin-top: 10px;
  }
}
