@mixin font-style($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin modal-title {
  @include font-style(30px, 600, 40px);
}

@mixin title-header {
  @include font-style(36px, 800, 49px);
}

@mixin title-h1 {
  @include font-style(40px, 800, 54px);
}

@mixin title-h2 {
  @include font-style(24px, 900, 32px);
}

@mixin title-h3 {
  @include font-style(18px, 700, 24px);
}

@mixin title-xl-regular {
  @include font-style(20px, 400, 27px);
}

@mixin title-l-regular {
  @include font-style(16px, 700, 21px);
}

@mixin title-m-regular {
  @include font-style(16px, 400, 21px);
}

@mixin title-m-button {
  @include font-style(16px, 600, 21px);
}

@mixin title-s-button {
  @include font-style(12px, 400, 16px);
}

