@use "@typography" as typography;
@use "@mixins" as mixins;

.wrapper {
  position: relative;
}

.input {
  padding: 20px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: 2px solid var(--main-secondary);

  &Error {
    outline: unset;
    border: 1px solid var(--status-invalid);

    &:focus {
      border: 1px solid var(--status-invalid);
    }

    &Message {
      position: absolute;
      top: 47px;
      color: var(--status-invalid);

      @include typography.title-m-button;

      font-size: 11px;
    }
  }
}

.label {
  position: absolute;
  left: 12px;
  top: -20%;
  transform: translateY(-50%);

  @include typography.title-m-regular;
  @include mixins.commonTransition;
  font-size: 14px;
  color: var(--text-color-grey);

  &Error {
    color: var(--status-invalid);
  }
}
