@use "@media" as media;
@use "@typography" as typography;

.wrapperCard {
  position: relative;
  width: 285px;
  border-radius: 20px;
  height: 430px;

  &Icon {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  img {
    width: 100%;
    background: var(--main-beige);
    border-radius: 18px;
  }

  &Title {
    margin-top: 5px;
    @include typography.title-l-regular;
    font-size: 22px;
    font-weight: 500;
  }

  &Ingredients {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 14px;
  }

  &Bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &Price {
      @include typography.title-m-regular;
      font-weight: 700;
      font-size: 18px;
    }

    &Actions {
      display: flex;
      flex-direction: row;

      &Count {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        @include typography.title-h3;
      }

      &Add {
        background: var(--button-color-orange);
      }

      &Button {
        background: var(--main-beige);
        width: 125px;
        gap: 10px;
        height: 42px;
        color: var(--button-color-orange);
      }
    }
  }
}

.wrapperCardBlocked {
  position: relative;
  pointer-events: none;

  &Info {
    width: 140px;
    background: var(--main-beige);
    color: var(--text-color-grey);
    border: 1px solid var(--text-color-grey);
    padding: 10px;
    position: absolute;
    top: 28%;
    right: 25%;
    @include typography.title-m-regular;
    font-size: 14px;
  }

  img {
    background: #e0e0e0;
  }
}
