@use "@media" as media;
@use "@typography" as typography;

.wrapperCard {
  width: 285px;
  border-radius: 20px;
  height: auto;

  img {
    width: 100%;
    background: var(--main-beige);
    border-radius: 18px;
  }

  &Title {
    margin-top: 5px;
    @include typography.title-l-regular;
    font-size: 22px;
    font-weight: 500;
  }

  &Ingredients {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 14px;
  }

  &Bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &Price {
      @include typography.title-m-regular;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
