@use "@media" as media;
@use "@typography" as typography;

.wrapper {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 14px;
  justify-items: center;

  @include media.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media.mobile {
    grid-template-columns: 1fr;
    padding-right: 30px;
  }

  &Empty {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    img {
      width: 220px;
    }

    &Meta {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 445px;

      &Title {
        @include typography.title-h2;
      }
    }
  }
}

@include media.mobile {
  .wrapper {
    &Empty {
      flex-direction: column;
      justify-content: center;
    }
  }
}
