:root {
  --main-primary: #fff;
  --main-secondary: #f9f9f9;
  --main-beige: #fff7ee;
  --text-color-dots: #dfdfdf;
  --outline-color-grey: #ededed;
  --button-color-orange: #fe5f00;
  --button-color-grey: #c7c7c7;
  --text-color-grey: #7b7b7b;
  --text-color-black: #000000;
  --text-color-dark-grey: #898989;
}
