@use "@typography" as typography;
@use "@media" as media;

.title {
  margin-top: 20px;
  @include typography.title-l-regular;
}

.wrapper {
  margin-top: 20px;
  max-width: 650px;
  height: 55px;
  display: flex;
  border-radius: 16px;
  background: var(--main-secondary);
  align-items: center;
  gap: 20px;
  padding-left: 10px;

  &Button {
    border: unset;
    min-width: 77px;
    cursor: pointer;
    padding: 5px 10px;
    height: 43px;
    border-radius: 16px;
    background: unset;
    transition: all 0.3s ease;
    @include typography.title-m-regular;

    &Active {
      background: var(--main-primary);
      transform: scale(1.1);
      color: var(--button-color-orange);
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

@include media.mobile {
  .wrapper {
    padding: 10px 20px;
    height: 350px;
    flex-direction: column;

    &Button {
      height: 100%;
      width: 100%;
    }
  }
}
