@use "@media" as media;
@use "@typography" as typography;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: calc(3 * 315px + 2 * 40px);
  margin: 0 auto;
}

.wrapperCard {
  position: relative;
  flex: 1 1 285px;
  border-radius: 20px;
  width: 285px;
  min-height: 430px;
  max-height: 460px;
  margin-right: 20px;

  img {
    width: 100%;
    background: var(--main-beige);
    border-radius: 18px;
  }

  &Title {
    margin-top: 5px;
    @include typography.title-l-regular;
    font-size: 22px;
  }

  &Ingredients {
    margin-top: 10px;
    color: #b1b1b1;
  }

  &Bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Price {
      @include typography.title-m-regular;
      margin-top: 10px;
    }
  }
}

@include media.mobile {
  .wrapper {
    margin-right: 20px;
  }
}
