@use "@typography" as typography;
@use "@media" as media;

.wrapper {
  position: sticky;
  top: 110px;
  align-self: flex-start;
  width: 350px;

  &PizzaTitle {
    @include typography.title-header;
  }
}

.divider {
  margin-top: 25px;
  border: 1px solid var(--outline-color-grey);
}

.dividerPizzaTitle {
  margin: 15px 0;
  border: 1px solid var(--outline-color-grey);
}

.titleLarge {
  @include typography.title-l-regular;
}

.buttonSubmit {
  margin-top: 25px;
  background: var(--button-color-orange);
  color: var(--main-primary);
  width: 100%;
  @include typography.title-l-regular;
}
